.config-grid {
  column-count: 1;
  column-gap: 20px;
}

.config-grid > .card {
  break-inside: avoid;
  margin-bottom: 20px;
  width: 100%;
  display: inline-block;
}

@media (min-width: 700px) {
  .config-grid { column-count: 2; }
}

@media (min-width: 1700px) {
  .config-grid { column-count: 3; }
}